{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <title>Hyphenation Cleaner</title>
</head>

<body>
    <h1>How do you want to upload your text?</h1>
    <div class="buttons">
        <button class="button" id="uploadTheFileButton" role="button">Upload The File</button>
        <button class="button" id="pasteTheTextButton" role="button">Paste The Text</button>
    </div>
    <script src="{% static 'main/script.js' %}"></script>
</body>

</html>